<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="card">
    <div class="card-title">
      Fb login
    </div>
    <div class="card-body">
      <div *ngIf="user">
        <h3>Welcome {{ user.name }}</h3>
        <p>Email: {{ user.email }}</p>
        <img src="{{user?.response?.picture?.data?.url}}" [style.height]="user?.response?.picture?.data?.height" [style.height]="user?.response?.picture?.data?.width" alt="{{ user.name }}">
       
      </div>
      <button class="btn btn-outline-success" (click)="signInWithFB()">Facbook SignIn</button>
    </div>
  </div>
</div>